body{
	margin: 0 0 0 0
	background-image: url("olineit.png");

	background-repeat: repeat-x repeat-y;
}

#wrapper{
	width: 960px;
	height: 720px;
	margin: 0 auto 0 auto;
	color: white;

	text-align: center;


}
#header{
    text-align: center;
    width: 100%;
    height: 200Px;
}
#menubar{
	background: tomato;
    text-align: center;
    width: 100%;
    height: 100Px;
    color: white;
}
#body{
	background: orange;
	text-align: center;
	width: 100%;
    height: 500Px;

}
#footer{
	background: gray;
	text-align: center;
	width: 100%;
    height: 200Px;
}
.olineit{
	width: 200px;
	float: left;
}
.bangladesh{
	float: left;
		
}
a{
	text-decoration: none;
	color: blue;
}